#modal-recruitment-manifest.modal.fade{ tabindex: "-1", role: "dialog", 'data-seen': @recruitment_manifest_seen }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %button{ type: "button", class: "close", 'data-dismiss': "modal", 'aria-label': "Close" }
          %span{ 'aria-hidden': "true" }
            &times;
        %h4.modal-title
          = t '.manifest_for_recruitment'
      .modal-body
        = markdown(project.contribution_text)
      .modal-footer
        %button{ type: "button", class: "btn btn-default", 'data-dismiss': "modal" }
          = t 'close'
