- js = escape_javascript(
- render(partial: 'tasks/list', locals: { tasks: @tasks })
- )
- new_paginate = escape_javascript(paginate(@tasks))
$("#filterrific_results").html("#{js}");
$("ul.pagination").html("#{new_paginate}");
