- js = escape_javascript(
- render(partial: 'tasks/list', locals: { tasks: @tasks })
- )
- new_paginate = escape_javascript(paginate(@tasks, :remote => true))
$("#filterrific_results").html("#{js}");
var $col = $('#div-container-list');
$col.find('ul.pagination, nav').remove();
$col.append("#{new_paginate}");
