.card{ class: offer.module == 'beginner' ? "bg-dark text-white" : "" }
  .card-header
    %h3.card-title.text-center
      = t('offer.' + offer.module)
  .card-body
    .card-text{ style: offer.module == 'beginner' ? "min-height: 200px;" : "min-height: 180px;" }
      %ul{ style: 'margin-left: -20px;' }
        = t('offer.' + offer.description).html_safe
    %h2.text-center
      - unless offer.module == 'freedom'
        = number_to_currency(offer.price, unit: "€")
      - else
        \##
  .panel-footer.border-top-0.text-center
    - if offer.module == 'freedom'
      %script{src: "https://liberapay.com/penguyman/widgets/button.js"}
      %noscript
        %a{href: "https://liberapay.com/penguyman/donate"}
          %img{src: "https://liberapay.com/assets/widgets/donate.svg"}
    - else
      .btn.btn-block.btn-lg.btn-default{ class: offer.module == 'beginner' ? "btn-primary" : "" }
        Buy now
