- if object.errors.any?
  #error_explanation.text-danger.form-group
    %h2.col-md-12
      = pluralize(object.errors.count, "error")
      prohibited this project from being saved:
    %ul
      - object.errors.full_messages.each do |message|
        %li= message
