= link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('.popover_content', link: link_to('https://en.wikipedia.org/wiki/Markdown#Example', 'https://en.wikipedia.org/wiki/Markdown#Example')), 'data-html' => 'true' do
  = icon('fas', 'info-circle')
