%a{:href => 'javascript:;', 'data-toggle'=>"popover", 'data-placement' => 'top', :title => "Markdown syntax", 'data-content' => "You can find informations here: #{ link_to 'https://en.m.wikipedia.org/wiki/Markdown#Example', 'https://en.m.wikipedia.org/wiki/Markdown#Example'}", 'data-html' => 'true'}
  %i.fa.fa-info-circle
