= link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => "You can find informations here: #{ link_to 'https://en.m.wikipedia.org/wiki/Markdown#Example', 'https://en.m.wikipedia.org/wiki/Markdown#Example'}", 'data-html' => 'true' do
  = icon('info-circle')
