%noscript
  .modal-backdrop.fade.in
  .modal.fade.in{ tabindex: "-1", role: "dialog", style: "display: block;" }
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title
            Javascript Disabled
        .modal-body
          %p
            %strong
              Please enable Javascript functionality.
            %br
            %br
            If you want to know what we are doing with, you can see our sources:
            %br
            %strong
              = link_to "Think Software (Github)", "https://github.com/FiloSpaTeam/thinks", :target => "_blank"
