-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%noscript
  .modal-backdrop.fade.in
  .modal.fade.in{ tabindex: "-1", role: "dialog", style: "display: block;" }
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title
            Javascript Disabled
        .modal-body
          %p
            %strong
              Please enable Javascript functionality.
            %br
            %br
            If you want to know what we are doing with, you can see our sources:
            %br
            %strong
              = link_to "Think Software (Github)", "https://github.com/FiloSpaTeam/thinks", :target => "_blank"
