.panel.panel-default
  .panel-heading
    %strong=t '.general'
  .list-group
    = link_to(t('.personal'), thinker_path(@thinker), :class => "list-group-item #{ current_page?(thinker_path) ? 'active' : '' }")
    %a{ href: "#", class: "list-group-item disabled" }
      =t ('.design')
  .panel-heading
    %strong=t '.security_and_privacy'
  .list-group
    %a{ href: "#", class: "list-group-item disabled" }
      =t ('.password')
    = link_to(t('.double_authentication'), otp_path(@thinker), :class => "list-group-item #{ current_page?(otp_path) ? 'active' : '' }")
    %a{ href: "#", class: "list-group-item disabled" }
      =t ('.privacy')
    %a{ href: "#", class: "list-group-item disabled" }
      =t ('.data')
  .panel-heading
    %strong=t '.preferences'
  .list-group
    %a{ href: "#", class: "list-group-item disabled" }
      =t ('.views')
    %a{ href: "#", class: "list-group-item disabled" }
      =t ('.printing')
