.panel.panel-default
  %ul.nav.nav-pills.nav-stacked
    %li.active{ role: "presentation" }
      %a{href: '#general-informations', 'data-toggle': "pill"}
        Description
    %li{ role: "presentation" }
      %a{href: '#secondary-informations', 'data-toggle': "pill"}
        Release date and other stuff
    %li{ role: "presentation" }
      %a{href: '#urls', 'data-toggle': "pill"}
        Links
    %li{ role: "presentation" }
      %a{href: '#sprint-settings', 'data-toggle': "pill"}
        Sprint settings
