-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectstatuspanel', locals: { project: @project }
  #div-container-list.col-md-8
    - if @sprints.size >= 2
      .panel.panel-default.hidden-xs
        .panel-body
          - sprints_chart_data = Sprint.unscoped.where(project: @project).limit(10).offset(1).group(:created_at).order('created_at desc').sum(:obtained)
          - sprints_chart_data = Hash[sprints_chart_data.to_a.reverse]
          = line_chart sprints_chart_data.transform_keys { |key| key.strftime('%B %d') }, height: '180px', discrete: true, library: { hAxis: { textPosition: 'none', format: 'dd/MM' }, chartArea: { width: '90%', height: '80%' }, vAxis: { gridlines: { color: '#EEE' } } }
    = smart_listing_render :sprints
