- js = escape_javascript(
- render(partial: 'sprints/list', locals: { sprints: @sprints })
- )
- new_paginate = escape_javascript(paginate(@sprints, :remote => true))
$("#filterrific_results").html("#{js}");
var $col = $('#div-container-list');
$col.find('ul.pagination, nav').remove();
$col.append("#{new_paginate}");
