= form_for [@project, task, Rating.new] do |f|
  .form-group
    = f.label :value, t("tasks.ratings.title"), class: 'control-label font-weight-bold'
    = f.range_field :value, min: 0, max: 5, step: 1, class: 'form-control border-0 p-0 rating'
    .form-text.text-muted
      5 stelle
  = f.submit t('submit'), :class => "btn btn-primary"
