= render :partial => 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectsettingsbar'
  .col-md-8
    .panel.panel-default
      = render :partial => 'form'
