-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.container
  .row
    %main.col-sm-9
      %h1.mb-5
        = t('.new')
      = render partial: 'projects/form'
    .d-none.d-sm-block.col-sm-3.sticky-top.sticky-top-5.h-25
      %ul.list-unstyled
        %li
          %a.js-scroll-trigger{ href: '#title_and_description' }
            1: General description
          %ul.list-unstyled.pl-4
            %li
              Title
            %li
              Description
        %li
          %a{ href: '#title_and_description' }
            Title and description
        %li
          %a{ href: '#title_and_description' }
            Title and description
        %li
          %a{ href: '#title_and_description' }
            Title and description
        %li
          %a{ href: '#title_and_description' }
            Title and description
      .mt-4
        %button.btn.btn-block.btn-success
          Salva
