%li{ :role => "presentation", :class => active_filter?(:last, "filters[progress_lower_than]") ? 'open' : '' }
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
    = t(".progress")
    %span.caret
  %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
    .panel-heading
      .input-group
        = text_field_tag 'filters[progress_lower_than]', filter_value(:progress_lower_than), class: 'form-control', placeholder: t("lower_than"), autocomplete: 'off'
        %span.input-group-btn
          %button.btn.btn-default{ type: "submit" }
            %i.fa.fa-search
