%li{ :role => "presentation" }
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
    = t(".progress")
    %span.caret
  %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
    .panel-heading
      = text_field_tag 'filters[progress_lower_than]', '', class: 'form-control filterrific-periodically-observed', placeholder: t("lower_than"), autocomplete: 'off'
