%li{ :role => "presentation" }
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
    = t(".thinker")
    %span.caret
  %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
    .panel-heading
      - if !current_page?(project_goals_path)
        = f.text_field :search_thinker, class: 'form-control filterrific-periodically-observed', placeholder: t("search")
    %ul.list-group.scrollbar
      - @project.contributions.each do |contribution|
        - thinker = contribution.thinker
        %li.list-group-item
          = link_to("filterrific[with_thinker]" => thinker, "filterrific[with_project]" => @project, method: :get, remote: true) do
            = thinker.name
