- title = :sprint_title
- serial = :sprint_serial
- sprints_filter = @project.sprints
- if active_filter?(serial)
  - sprints_filter = sprints_filter.where("lower(serial) LIKE '%#{params[:filters][title].downcase.strip}%'")

= render partial: 'shared/filters/layout_btn', locals: { local_active_filter: serial, local_results: sprints_filter, local_filter: :sprint_id, local_conflicting_filters: [serial, :last], local_active_search_filter: title }
