%li{ :role => "presentation" }
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
    = t(".release")
    %span.caret
  %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
    .panel-heading
      = text_field_tag 'filters[release_title]', '', class: "form-control filterrific-periodically-observed", placeholder: t("search"), autocomplete: 'off'
    %ul.list-group.scrollbar
      - @project.releases.each do |release|
        %li.list-group-item
          = link_to("filters[release_id]" => release, method: :get, remote: true) do
            = release.title
