- releases_filter = @project.releases
- if active_filter?(:release_title)
  - releases_filter = releases_filter.where("lower(title) LIKE '%#{params[:filters][:release_title].downcase.strip}%'")

= render partial: 'shared/filters/layout_btn', locals: { local_active_filter: :release_title, local_title: 'release', local_results: releases_filter, local_filter: :release_id, local_conflicting_filters: [:release_title, :last], local_active_search_filter: :release_title }
