- name = :worker_name
- workers_filter = @project.workers.unscoped
- if active_filter?(name)
  - workers_filter = workers_filter.where("lower(name) LIKE '%#{params[:filters][name].downcase.strip}%'")

= render partial: 'shared/filters/layout_btn', locals: { local_active_filter: name, local_results: workers_filter, local_filter: :worker_id, local_conflicting_filters: [name, :last], local_active_search_filter: name }

-# - if !current_page?(project_goals_path)
-#   .input-group
-#     = text_field_tag 'filters[worker_name]', filter_value(name), class: 'form-control', placeholder: t("search"), autocomplete: 'off'

-#     %span.input-group-btn
-#       %button.btn.btn-default{ type: "submit" }
-#         %i.fa.fa-search
