%li.hidden-xs
  = link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote
%li.visible-xs.previous
  = link_to_unless current_page.first?, icon('caret-left', :class => 'fa-2x dark-grey'), url, :rel => 'prev', :remote => remote
