= image_tag("stan")
%h2
  Pappapishu, your page cannot be found!

    -# %br
    -# %hr
    -# %br

    -# %p.lead
    -#   %strong
    -#     Guybrush:
    -#   I think I can live without that particular piece of junk.
    -# %p.lead
    -#   %strong
    -#     Stan:
    -#   Say, does your wife know you’re such a cheapskate?

    -# %br
    -# %hr
