- js = escape_javascript(
- render(partial: 'goals/list', locals: { goals: @goals })
- )
- new_paginate = escape_javascript(paginate(@goals, :remote => true))
$("#filterrific_results").html("#{js}");
var $col = $('ul.pagination').parent();
$col.find('ul.pagination, nav').remove();
$col.append("#{new_paginate}");
