= render partial: 'shared/projectbar', locals: { project: @goal.project }
.row
  .col-md-4
    = render partial: 'shared/projectstatuspanel', locals: { project: @goal.project }
  .col-md-8
    .panel.panel-default
      .panel-heading
