/* CUSTOM VARIABLES
 ---------------------------------------------------*/
$main-color: #DC911B;

$success: #43a047;
$danger: #f44336;
$info: #2196f3;
$warning: #ffc107;
$backlog: #607d8b;

$dark-grey: #555;
$light-grey: #DDD;

$box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
