/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-star-rating/star-rating.min";
@import "animate";
@import "variables";

/* Sticky footer styles
-------------------------------------------------- */
div .alert {
  position: relative;
}

.list-group-header-danger {
  background: white;
  border-top: 2px solid $danger;
}

.list-group-header-info {
  background: white;
  border-top: 2px solid $info;
}

.list-group-header-warning {
  background: white;
  border-top: 2px solid $warning;
}

.list-group-header-success {
  background: white;
  border-top: 2px solid $success;
}

.list-group-header-backlog {
  background: white;
  border-top: 2px solid $backlog;
}

a {
    label {
        margin-bottom: 0;
        margin-left: 5px;
        font-weight: normal;
    }
}

.dark-grey { color: $dark-grey }
.light-grey { color: $light-grey }

.clip-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .dropdown-menu {
//     .dropdown-item.active {
//         background-color: $main-color;
//         color: white;
//     }

//     ul.list-group {
//         min-width: 230px;
//         max-width: 300px;
//         max-height: 350px;
//     }
// }

.dropdown-filters-menu {
    min-width: 270px;}

.scrollbar { overflow-y: auto; }
.scroller { overflow-y: scroll; }

.bg-success {background-color: $success;}
.bg-warning {background-color: $warning;}
.bg-info {background-color: $info;}
.bg-danger {background-color: $danger;}
.bg-backlog {background-color: $backlog;}
.bg-gray {background-color: $light-grey;}

.navbar-toggle { border: none; }

.no-background { background: none !important; }

.label-normal {
    font-weight: normal !important;
    text-align: left !important;
}

.break-word { word-wrap: break-word; }

.border-left { border-left: 1px solid $light-grey; }
.border-right { border-right: 1px solid $light-grey; }
.border-bottom { border-bottom: 1px solid $light-grey; }
.border-top { border-top: 1px solid $light-grey; }
.border-radius { border-radius: 4px; }

// .breadcrumb-status {
//     margin-left: 5px;
//     margin-top: 1px;
// }
//.breadcrumb-li { max-width: 350px; }

.required .control-label:after {
    content:"*";
    color:red;
    margin-left: 2px;
}

.attachinary_container {
    margin-top: 10px;

    ul {
        list-style: none;
        margin-left: -40px;
    }
}

.square { width: 100%; }
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

// @import "mobile";
// @import "print";
@import "creative";

/* SCSS Pages files
-------------------------------------------------- */
// @import "start";
@import "projects";
// @import "how_does_it_works";
// @import "sprints";
// @import "goals";
@import "tasks";
// @import "notifications";
// @import "otp";
// @import "operations";
// @import "thinkers";
