/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-star-rating/star-rating.min";

/* CUSTOM VARIABLES
 ---------------------------------------------------*/
$success: #43a047;
$danger: #f44336;
$info: #2196f3;
$warning: #ffc107;
$backlog: #607d8b;

$dark-grey: #555;
$light-grey: #DDD;

$box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-bottom: 70px;
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;

  .container { padding-top: 40px; }
  // background-color: #FDFDFD;
}

body:not(.start) {
    .footer {
        bottom: 0;
    }    
}

body.start {
    .footer {
        position: absolute !important;
    }    
}

body.sessions, body.registrations, body.passwords {
    padding-bottom: 0;

    .footer {
        display: none;
    }
}

.footer {
  position: fixed;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #DDD;
  z-index: 9999;
   
  .text-muted {
    margin: 20px 0;
    font-size: 13px;
  }

  .container {
      padding: 0;
      padding-right: 15px;
      padding-left: 15px;
  }

  ul {
    float: right;
    margin-top: 20px;
    padding: 0;
  }

  li {
    margin-left: 40px;
    display: inline-block;
    text-align: left;

    a {
      color: #666;

      &:hover {
        background-color: transparent !important;
        text-decoration: none;
        color: #333;
      }
    }
  }
}

div .alert {
  position: relative;
}

.panel-body {min-height: 140px;}

.list-group-header-danger {
  background: white;
  border-top: 2px solid $danger;
}

.list-group-header-info {
  background: white;
  border-top: 2px solid $info;
}

.list-group-header-warning {
  background: white;
  border-top: 2px solid $warning;
}

.list-group-header-success {
  background: white;
  border-top: 2px solid $success;
}

.list-group-header-backlog {
  background: white;
  border-top: 2px solid $backlog;
}

.chapter-title {margin-bottom: 30px;}
.chapter-subtitle {
  padding-top: 24px;
  margin-bottom: 20px;
}

a {
    label {
        margin-bottom: 0;
        margin-left: 5px;
        font-weight: normal;
    }
}

.dark-grey { color: $dark-grey }
.light-grey { color: $light-grey }

.clip-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.round-sm {
    width: 14px;
    height: 14px;
    margin-top: 3px;
    margin-right: 5px;

    border-radius: 2px;
}

.dropdown-menu {
    .active {
        a {
            color: #262626;
            background-color: #DDD;
        }
    }

    ul.list-group {
        min-width: 230px;
        max-width: 300px;
        max-height: 350px;
    }
}

.scrollbar { overflow-y: auto; }

.bg-success {background-color: $success;}
.bg-warning {background-color: $warning;}
.bg-info {background-color: $info;}
.bg-danger {background-color: $danger;}
.bg-backlog {background-color: $backlog;}
.bg-gray {background-color: #DDD;}

.navbar-toggle { border: none; }

.no-background { background: none; }
.no-padding { padding: 0 !important; }
.no-border { border: 0 !important; }
.no-margin { margin: 0 !important; }

.label-normal {
    font-weight: normal !important;
    text-align: left !important;
}

.break-word { word-wrap: break-word; }

.border-left { border-left: 1px solid #DDD; }
.border-right { border-right: 1px solid #DDD; }
.border-bottom { border-bottom: 1px solid #DDD; }
.border-top { border-top: 1px solid #DDD; }
.border-radius { border-radius: 4px; }

.margin-left-0 { margin-left: 0 !important; }
.margin-right-0 { margin-right: 0 !important; }
.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-bottom-0 { margin-bottom: 0 !important; }
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }

.min-height-160 { min-height: 160px !important; }

.padding-left-5 { padding-left: 5px !important; }
.padding-5 { padding: 5px !important; }
.padding-15 { padding: 15px !important; }

.font-normal  { font-weight: normal; }
.font-bold    { font-weight: bold; }
.font-italic  { font-style: italic; }

.scroller { overflow-y: scroll; }

.breadcrumb-status {
    margin-left: 5px;
    margin-top: 1px;
}
.breadcrumb-li { max-width: 350px; }

.required .control-label:after {
    content:"*";
    color:red;
    margin-left: 2px;
}

.attachinary_container {
    margin-top: 10px;

    ul {
        list-style: none;
        margin-left: -40px;
    }
}

// @import "dashboard";
@import "cover";
@import "carousel";
@import "mobile";
@import "print";

/* SCSS Pages files
-------------------------------------------------- */
@import "projects";
@import "how_does_it_works";
@import "sprints";
@import "goals";
@import "tasks";
@import "notifications";
@import "otp";
@import "operations";
