@media screen and (max-width: 991px) {
    body {
        .container { padding: 20px 15px; }

        .footer {
            .text-center {
                width: 75%;
            }
        }
    }

    .dropdown-mobile {
        position: absolute !important;

        top: 40px;
        left: -97px;

        background-color: #e7e7e7 !important;
        border: 1px solid #ccc !important;
        border: 1px solid rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    }

    @media screen and (max-width: 767px) {
        body {

            .alert {
                border-radius: 0;
                box-shadow: none;
            }

            .footer {
                height: 40px;

                .text-center {
                    width: 70%;
                }

                a.pull-right {
                    margin: 2px 0 !important;
                }

                .text-muted {
                    margin: 11px 0;
                }
            }

            .navbar {
                margin-bottom: 0;

                .navbar-brand {
                    float: none;

                    padding-right: 116px;
                }

                .navbar-btn {
                    padding: 6px 8px;
                }

                a:not(.btn) { color: #777; }
            }
        }
    }
}
