// Place all the styles related to the otp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.otp {
    i.fa-check {
        color: green;
    }

    i.fa-times {
        color: red;
    }

    a.pull-right {
        margin-top: -6px;
    }
}
