@media print {
    body {
        padding-top: 0;

        .container { padding-top: 0 !important; }
    }

    a[href]:after { content: none !important; }

    .no-print, .no-print * { display: none !important; }

    footer { display: none !important; }

}
