// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects, .teams, .election_polls {
    .panel > .panel-body {
        .progress {
            min-width: 2em;

            margin-top: 10px;
            margin-bottom: 0;
        }

        min-height: 200px;
    }

    .table > tbody > tr > td {
        vertical-align: middle;

        .progress {
            margin-bottom: 0;
        }
    }

    @media(min-width: 768px) {
        .thumbnail {
            margin-bottom: 0;
        }
    }

    .team-member-img {
        margin-top: -4px;
        margin-left: -9px;
        margin-right: 5px;
        border-radius: 3px;
    }

    @media(max-width: 768px) {
        .project-img {
            width: 150px;
            height: 150px;
        }
    }
    
    .nav-pills > li > a {
        border-radius: 0;
    }
}
