// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects {
    .panel > .panel-body {
        .progress {
            min-width: 2em;

            margin-top: 10px;
            margin-bottom: 0;
        }

        min-height: 0;
    }

    .table > tbody > tr > td {
        vertical-align: middle;

        .progress {
            margin-bottom: 0;
        }
    }

    @media(min-width: 768px) {
        .thumbnail {
            margin-bottom: 0;
        }
    }
}
