// Place all the styles related to the Sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sprints, .survey {
    .panel {
        .progress {
            margin-bottom: 0;
        }

        .table {
            margin-bottom: 0;
        }

        .panel-body {
            min-height: 0;
        }
    }

    .pagination {
        margin: 0;
    }
}