// Place all the styles related to the Start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start {
    .img-index {
        overflow: hidden;

        // background-color: rgb(40, 96, 144);
        // background-image: image-url('index.png');
        background-repeat: no-repeat;
        background-position: center;

        background-size: cover;

        height: 400px;
    }

    .img-index-input {
        margin-top: 30px;
    }
}
