// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks, .recruitments {
    .workload-table {
        font-size: 20px;
        margin-top: 5px;
    }

    .panel {
        .progress {
            margin-bottom: 0;
        }

        .panel-body {
            min-height: 0;
        }
    }

    .pagination {
        margin: 0;
    }

    .status-div {
        margin-top: 0 !important;

        @media screen and (max-width: 1199px) {
            margin-top: 2px !important;
        }
    }

    .round-sm {
        width: 18px;
        height: 18px;}
}
