-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%h1.chapter-title
  How does it works?

%h2.chapter-subtitle
  What is that and who can work with?

%p.lead
  This is a web <strong>applications that help teams to handle projects
  and tasks (work)</strong> over time.
  %br
  It is designed with free software, teams, goals and big projects
  in minds.
  %br

%p.lead
  <strong>Everyone can use that and work with</strong> because it's not required
  any special skill.
  %br
  Everyone can contribute in two different ways:
  %ul
    %li.lead
      %i
        Watching:
      suggest something to teams and watch progress
    %li.lead
      %i
        Partecipating:
      suggest, create and work over tasks gaining personal workload

%p.lead
  Moreover, everyone can create a new project (a new idea) and share to others.

%br

%p.lead
  Today a lot of projects are developed by large interconnected teams. But most of them works in different areas and sometimes it's very hard to understand the point of view of others.
  %br
  This is a very limiting thing because most of them cannot understand complexity of the project itself maybe, or undervalue other's work.
  %br
  With this software, each member of team can cooperate and understand easily the progression of:
  %ul
    %li.lead
      entire project
    %li.lead
      specific goal
    %li.lead
      specific release
    %li.lead
      specific task (work)

%hr

%h2.chapter-subtitle
  Understand the engine

%p.lead
  Most of the system is based on Scrum, an agile methodology for teams, but there are functions not provided that will explain in this section with the basic method.

%p.lead
  The most important figure in this software is the user. All works around users. They are the most important and the most exciting part.
  %br
  Without them there are no teams. So you need an account and provide basic informations like email and name.
  %br
  Later you are ready to join to some project or create a new one.

%p.lead
  %i
    %strong
      Important: is an open platform so default projects are open to everyone but team leaders can block access to project itself and report the user! - With great power, comes great responsibility.

%p.lead
  A project describe your idea, so you need to be clear to others to create attentions (good images, good description...), and is composed by:
  %ul
    %li.lead
      Releases
    %li.lead
      Goals
    %li.lead
      Tasks

%h3
  %i
    Releases

%p.lead
  You need to think for
  %strong
    releases
  like the moments in your projects when you want to have salable package. It does not have to be a complete package about your idea. You and your team should decide how many tasks include; can be 20% of the project, or the 50%. It's your choice.
  %br
  You need only to set expected release date.

%h3
  %i
    Goals

%p.lead
  Describe areas of your project, most important issues and so on. Those are essential to organize tasks and helps team.

%h3
  %i
    Tasks

%p.lead
  As previously mentioned, tasks are singular works that someone need to complete.
  %br
  They can be organized into goals and releases and have some important attributes:
  %ul
    %li.lead
      status
    %li.lead
      workload
    %li.lead
      father
    %li.lead
      operations

%h4
  %i
    Status

%p.lead
  Status indicate the progress of task. There are 5 status points:
  %ol
    %li.lead
      Backlog: your idea/work is part of project but no one considered it
    %li.lead
      Release: ok, now it's one on the most important task to do but it's not the moment, we need to define better the workload and something else
    %li.lead
      Sprint: now it's time to work on; the task is available to be worked
    %li.lead
      In progress: someone is working over this task
    %li.lead
      Done: task done

%p.lead
  Status is a very important feature that helps a lot teams. We enhanced more this feature with approvement. When someone works over task and complete it, need to approve a comment and explain why, so in the future you can check your history of your works with motivations.

%h4
  %i
    Workload

%p.lead
  Workload is essential to understand how much is difficult this task. Workload help teams to understand it's speed too.
  %br
  Understand ideal speed is important in the Scrum methodology because helps to organize tasks during Sprints!

%p.lead
  Workload is a aggregation of user's votes. There is medium point calculated by the votes and rounded to the nearest one.
  %br
  This set of votes is usefull to calculate the standard deviation too, to understand how is aligned the team (psychologically).
