%h1.chapter-title
  How does it works?

%p.lead
  One goal. Allow to community, teams, companies, every single man, to manage a number of projects without change the methodology, acting like a pivot for project management.

%h2.chapter-subtitle
  You are integral part of the community

%p.lead
  Understand this allow you to join party.
  %blockquote
    "No Martini, no party."
%p.lead
  Maybe only an italian spot, but try to understand the concept behind.<br>
  To join party you need to know rules, date, place and maybe other. To join software development is the same, but more simple.
  We can use Internet as our place, we can create personal rules, we don't need dates because each of us have their own. But something is wrong with that.<br>
  We can lose each other. We can create obstacles unconsciously. We can cut connections unconsciously. We have the opportunity to fail because we are not understood.<br>
  This is not the right way. We need to have one way to work together, but work as better as we can, as we love.

%h2.chapter-subtitle
  Work together, "one way"
DA MIGLIORARE
%p.lead
  I'm talking about a methodology that is designed for everyone, not only software developers.<br>
  There are not only developers, there are designers, biologists, sales managers too.<br>
  Maybe they can have a good idea!<br>
  But, maybe, they don't know what we are talking about, maybe they realize is too difficult to try.
  In this years i understood only one thing: each of us has a valid map to walk around the globe. There is only a difference.<br>
  They are others and not we so we reject them.

%p.lead
  They challenge ourself.<br>
  To workaround the problem we can try to think a team like a big family, where each of us do it's own work.

AGGIUNGI QUALCOSA

%h2.chapter-subtitle
  Each of us

SPIGA MEGLIO DI COSA PARLI

%p.lead
  %ol
    %li
      %p.lead
        It's difficult but not impossible. Think more simple and specify your work.<br>
    %li
      %p.lead
        Verify it, give a weight. It's big? It's little? Middle? Not a problem. But find ideal weight.<br>
    %li
      %p.lead
        We can consider a work like a goal. Make your goal ecological, namely make your work light for your soul.<br>
    %li
      %p.lead
        Think your goal and express it in positive way.<br>
    %li
      %p.lead
        Your work need to be realistic too, no fairy tales, don't lie yourself.<br>
    %li
      %p.lead
        And first of all do it, be the active part of the goal!

%h2.chapter-subtitle
  The software

%p.lead
  I talked about the base idea behind the project.<br>
  Now talk about how software realize that.

%p.lead
  Scrum is the base Agile Methodology. For those unfamiliar with the methodology, Scrum is a methodology invented for software but applicable in any area (family, school, government...); is based on a plain team(no managers, all equal rights) and one that acts like master, the Scrum Master.<br>
  %blockquote
    So there is one that has more power.....
%p.lead
  No.<br>
  The Scrum Master lets the team to work freely from obstacles and drives it during meetings, asking questions. The Scrum Master is like the white line that separates the roadway; everyone can see it and drive good but sometimes someone can overpass it, so the line helps you to come back in the right way.

%p.lead
  There are fer rules to respect. I'm not here to list them, we talk about them.<br>
  Scrum is board based so you need a board! And this software can be your board.<br>
  You need to analize with your team the entire project and create your first "Backlog Product" (shortly Backlog).<br>
  Each task that compose the Backlog, need to be thinked and express so that only one can handle and realize it, so only one worker over a task. This is essential.<br>
  Later you can decide when Sprints



