= render partial: 'shared/profileheader', locals: { thinker: @thinker }
.row
  .col-md-4
    = render partial: 'shared/profilebar', locals: { thinker: @thinker }
  .col-md-8
    .panel.panel-default
      = render :partial => 'form'
