.navbar.navbar-default
  .navbar-header.pull-left
    %a{ href: "javascript:;", class: "navbar-brand" }= @thinker.name
  .navbar-header.pull-right
    %a{ href: "javascript:;", class: "navbar-brand" }
      %small= @thinker.email
.row
  .col-md-4
    = render partial: 'shared/profilebar', locals: { thinker: @thinker }
  .col-md-8
    .panel.panel-default
      .panel-body
        Body
