- errors = devise_error_messages!
- if errors.empty?
  - errors = flash
.modal#modal-flash{ "data-has-messages": (!errors.empty?).to_s }
  .modal-dialog{ role:"document" }
    .modal-content
      .modal-header
        %h5.modal-title.text-center
          = t "messages"
      .modal-body
        - errors.each do |type, message|
          .ml-auto.text-center{ class: "#{flash_class(type)}" }
            .container.font-weight-bold
              = message.html_safe
      .modal-footer
        %button.btn.btn-info{ type:"button", "data-dismiss": "modal" }
          = t "close"
