- errors = devise_error_messages!
- if errors.empty?
  - errors = flash
- errors.each do |type, message|
  .ml-auto.d-none.d-lg-block.w-50.text-center.alert.alert-dismissible.p-0.mb-0{ class: "#{flash_class(type)}" }
    .container.font-weight-bold.mx-auto.row{ style: "max-height: 22px; overflow-y: hidden;" }
      .col-1.pr-0
        %a.text-danger{href: "#", "data-dismiss": "alert"}
          = icon('fas', 'remove', class: 'fa-lg')
      .col-11.text-left.text-truncate.pl-1
        %small
          %a.text-secondary{"data-toggle": "modal", href: "#modal-flash", class: "#{flash_class(type)}"}
            = message.html_safe
