%ul.nav.nav-sidebar
  %li.dropdown-header
    %p.lead
      Task in progress
  - @thinker_tasks.each do |task|
    %li{ :class => current_page?(task_path(task)) ? "active" : '' }
      = link_to("<strong>##{task.serial}</strong> #{task.title}".html_safe, task_path(task), :title => task.title, :class => "clip-text")

%ul.nav.nav-sidebar
  %li.dropdown-header
    %p.lead
      My last projects
  - @thinker_projects.each do |project|
    %li{ :class => session[:project_id] === project.id ? "active" : '' }
      = link_to(project.title, project_path(project), :title => project.title, :class => "clip-text")
