%ul.nav.nav-sidebar
  %li.dropdown-header
    %p.lead
      My last tasks
  - @thinker_tasks.each do |task|
    %li{ :class => current_page?(task_path(task)) ? "active" : '' }
      = link_to("<strong>##{task.serial}</strong> #{task.title}".html_safe, task_path(task), :title => task.title, :class => "clip-text")

%ul.nav.nav-sidebar
  %li.dropdown-header
    %p.lead
      My last projects
  - @thinker_projects.each do |project|
    %li{ :class => current_page?(project_path(project)) || current_page?(project_tasks_path(project)) ? "active" : '' }
      = link_to(project.title, project_path(project), :title => project.title, :class => "clip-text")
